<ion-view view-title="Stores">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list ng-show="stores">
      <ion-item class="item-icon-left" ng-repeat="store in stores" type="item-text-wrap" ng-click="showStoreDetails(store.$id)">
        <i class="icon ion-cash"></i>
        <h2>{{store.name}}</h2>
      </ion-item>
    </ion-list>
    <ion-list ng-hide="stores.length">
      <ion-item class="textCenter">
        <i class="icon ion-loading-c"></i> Loading Stores
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>