<ion-view title="{{ storeName }} Store" noscroll>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <input type="text" placeholder="Filter products..." ng-model="search.$" ng-change="scrollTop()">
    <button ng-if="search.length" class="button button-icon ion-android-close input-button" ng-click="clearSearch()">
    </button>
    <ion-list ng-show="items">
      <ion-item class="item item-thumbnail-left item-icon-right waves-effect waves-button waves-dark" ng-repeat="item in items | filter:search | filter:rangeFilter">
        <img ng-src="{{item.productImage}}">
        <h2>{{item.productName}}</h2>
        <p style="color:green">{{item.sellingPrice}}</p>
				<p style="color:red">{{item.discount}} %</p>
        <i class="icon ion-heart assertive" ng-click="addfavorites(item)"></i>
      </ion-item>
    </ion-list>
    <ion-list ng-hide="items.length">
      <ion-item class="textCenter">
        <i class="icon ion-loading-c"></i> Loading Items for {{ storeName }}
      </ion-item>
    </ion-list>
    <div class="item range">
      0
      <div class="popover" ng-show="hovered" ng-style="{left:left}">{{slider.rangeValue}}</div>
          <input class="sliderRange" type="range" name="volume" min="0" max="100" value="{{slider.rangeValue}}" 
                 ng-model="slider.rangeValue" ng-mouseDown="startSliderCalculation($event)" 
                 ng-mouseMove="calculateLeftPosition($event, isMouseDown)"   ng-mouseUp="mouseReleased()">
          100
    </div>    
  </ion-content>
</ion-view>